.input {
  width: 100%;
  max-width: 600px;
  padding: 15px 20px;
  border: 1px solid #25273c;
  border-radius: 8px;
  background: #25273c;
  color: #cdcfe7;
  font-size: 1rem;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.5);
  transition:
    border-color 0.3s ease,
    background-color 0.3s ease;
}

.input:focus {
  outline: none;
  border-color: rgba(85, 221, 255, 0.8);
  background: rgba(37, 39, 60, 0.9);
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
