$check-border: #777a92;

$gradient-start: #55ddff;
$gradient-end: #c058f3;
.task {
  width: 100%;
  box-sizing: border-box;
  max-width: 600px;
  height: 46px;
  padding: 10px;
  background-color: var(--card-background);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  transition:
    transform 0.3s ease,
    background-color var(--transition-speed),
    color var(--transition-speed),
    border-color var(--transition-speed),
    border-radius 0.3s ease;

  &:hover {
    transform: scale(1.05);
    border-radius: 8px;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
  }

  &.completed .text {
    text-decoration: line-through;
    color: var(--completed-text);
  }

  &:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.checkButton {
  width: 16px;
  height: 16px;
  border: 1px solid $check-border;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition:
    background-color var(--transition-speed),
    border-color var(--transition-speed);

  &.checked {
    background: linear-gradient(135deg, $gradient-start, $gradient-end);
    border: none;
  }

  img {
    width: 14px;
    height: 14px;
  }
}

.text {
  color: var(--text-color);
  transition: color var(--transition-speed);

  &:hover {
    color: var(--hover-text-color);
  }
}

.editInput {
  background-color: var(--hover-bg);
  color: var(--text-color);
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  box-shadow: var(--focus-shadow);
  transition: box-shadow var(--transition-speed);

  &:focus {
    box-shadow: none;
  }
}
