$primary-color: #007bff;
$primary-hover-color: #0056b3;
$button-padding: 8px 16px;
$button-border-radius: 5px;
$transition-duration: 0.3s;

// Button Component
.button {
  padding: $button-padding;
  cursor: pointer;
  background-color: $primary-color;
  color: white;
  border: none;
  border-radius: $button-border-radius;
  transition: background-color $transition-duration ease;

  &:hover {
    background-color: $primary-hover-color;
  }
}
