.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.filters {
  display: flex;
  gap: 10px;
}

.filters button {
  border: none;
  background: none;
  color: #CDCFE7;
  cursor: pointer;
}

.filters .activeFilter {
  font-weight: bold;
  border-bottom: 2px solid #CDCFE7;
}

.clearCompleted {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}
