.input {
  width: 100%;
  box-sizing: border-box;
  max-width: 600px;
  height: 46px;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--input-background);
  color: var(--text-color);
  font-size: 1rem;
  transition:
    border-color var(--transition-speed),
    background-color var(--transition-speed);

  &:focus {
    outline: none;
    border-color: transparent;
  }

  &::placeholder {
    color: var(--input-placeholder-color);
    transition: color var(--transition-speed);
  }
}
