:root {
  --bg-light-image: url('/images/bg-desktop-light.jpg');
  --bg-dark-image: url('/images/bg-desktop-dark.jpg');
  --bg-dark-color: #181824;
  --bg-light-color: #fefefe;
  --text-light-color: #333;
  --text-dark-color: #fafafa;

  --font-family: 'Josefin Sans', sans-serif;
  --transition-speed: 0.3s;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  transition:
    background-color var(--transition-speed) ease,
    color var(--transition-speed) ease;
}

p,
span,
label,
input,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
}

body.light {
  background: var(--bg-light-image) no-repeat center top;
  background-size: 100% 40vh;
  background-color: var(--bg-light-color);
  color: var(--text-light-color);
}

body.dark {
  background: var(--bg-dark-image) no-repeat center top;
  background-color: var(--bg-dark-color);
  color: var(--text-dark-color);
}
